body
{
	padding: 0;
	margin:0;
	background-color: silver;
}
#form

{
	width: 50%;
	height: 400px;
	margin:0 auto;
	padding: 20px;
	background-color: white;
}
input
{
	width: 150px;
	display: block;
	margin:5px;
	height: 30px;
}
label
{
	margin:5px;
	font-weight: bold;
}